body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-right: 10px;
}

.school-box {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: fit-content;
  display: flex;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}
