body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  width: 420px;
}

.school-box {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 250px;
  display: flex;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 18px;
}

.input-container label {
  margin-left: 5px;
  width: 30px;
  font-size: 18px;
}

.input-container input {
  border: none;
  flex: 1;
  padding: 8px;
  font-size: 14px;
}

.fa-sign-in-alt{
  position: relative;
  right: 15px;
}

#password-toggle {
  position: relative;
  top: 8px;
  left: 5px;
  width: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

button {
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

button:hover {
  background-color: #0056b3;
}

.login-btn{
  position: relative;
  top: 10px;
  width: 150px;
}

.forgot-password {
  position: relative;
  bottom: 34px;
  left: 95px;
  text-align: center;
  margin-top: 15px;
}

.forgot-password a {
  color: #007bff;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

/* ... mobile responsiveness ... */
@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .login-container {
    position: relative;
    bottom: 90px;
    right: 12px;
    width: 85%;
    margin-right: 0;
  }

  .school-box {
   display: none;
  }

  .login-btn, .forgot-password{
    width: 50%;
    margin-bottom: -20px;
  }

  .forgot-password {
    bottom: 21px;
    left: 120px;
  }
}
